@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(2, 1, 1); */
}
body{
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}
main{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;


}
section.hi{
    border-radius: 10px;
    background: #222222;
    width: 356px;
    height: 685px;
    position: relative;
    /* margin: 0 auto; */
}
svg.close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.container{
    width: 287px;
    margin: 0 auto;
    padding: 2.5em 0;
}
.container h3{
    letter-spacing: 1.4px;
    padding: .5em 0;
}
.container p{
    font-size: .9rem;
}
label{
    display: block;
    color: #BBBED5;
    font-weight: 900;
    margin: .2em 0;
    /* font-size: 1rem; */
}
form div{
    margin: 1.3em 0;
}
form input,textarea{
    width: 100%;
    padding: .8em ;
    border: 1px solid #525252;
    border-radius: 5px;
    background-color: #222222;
    height: 53px;
    color: #fff;
    transition: .5s ease;
}
textarea{
    height: 97px;
}
 form input:focus{
    outline:none;
    border: 1px solid #5B73D8;
}
 button.btn{
    background-color: #5B73D8;
    width: 100%;
    color: #fff;
    padding: 1em 0;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    transition: .3s ease;
}

button.btn:hover,
button.btn1:hover,
button.btn2:hover{
    transform: translateY(-10%);
}
 /* Get started */
section.started{
    background-color: #222222;
    width: 533px;
    height: 199px;
    border-radius: 10px;
    margin: 3em;
    
}
.safe{
    width: 470px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
section.started svg{
    width: 160px;
    margin-right: 1em;
    margin-bottom: 5em;
}
.show h3{
    font-size: 1rem;
    margin: 1em 0;
}
.show p{
    font-size: .9rem;
    margin: 1em 0;
}
button.btn1{
    background-color: #fff;
    width: 30%;
    padding: 1em 0 ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease;
}

/* newsletter */
section.ok{
    background-color: #222222;
    height: 276px;
    width: 533px;
    border-radius: 10px;
    margin: 3em;

}
form.news{
    display: flex;
    align-items: center; 
    
}
.newslet{
    width: 430px;
    margin: 0 auto;
   padding: 2em 0;
}
svg.mail{
    margin: .8em 0;
}
h3.subscribe{
    padding-bottom: 1.3em;
    font-size: 1.3rem;
    font-weight: 700;
}
button.btn2{
    background-color: #5B73D8;
    color: #fff;
    width: 94px;
    height: 53px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
    margin-left: 1.5em;
}


